table.cabicisummary tr>th {
    width: 4em;
}

div.nextrace {
    margin-bottom: 1em;
}

div.nextrace ul {
    list-style: none !important;
    margin: 0px !important;
}

div.nextrace ul .date {
    font-weight: bold;
}

.racetable
{
	font-size: 12px;
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
    border-width: 0px;
}
.racetable th
{
	font-size: 14px;
	font-weight: normal;
    font-family: "Open Sans", sans-serif;
	color: #990033;
	padding: 10px 8px;
	border-bottom: 2px solid #990033;
    border-left: 0px;
    border-right: 0px;
}
.racetable td
{
	border-bottom: 1px solid #ccc;
	padding: 6px 8px;
    border-left: 0px;
    border-right: 0px;
    vertical-align: text-top;
}


.hovertable tbody tr:hover td
{
	background-color: #DDD;
	color: #000;
}
.racetable ul  {
    list-style: none !important;
    margin: 0px !important;
}
